@font-face {
  font-family: 'Intro';
  src: url('../fontes/intro/Intro-Light.eot');
  src: url('../fontes/intro/Intro-Light.eot?#iefix') format('embedded-opentype'),
       url('../fontes/intro/Intro-Light.woff2') format('woff2'),
       url('../fontes/intro/Intro-Light.woff') format('woff'),
       url('../fontes/intro/Intro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Intro';
  src: url('../fontes/intro/Intro-Regular.eot');
  src: url('../fontes/intro/Intro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fontes/intro/Intro-Regular.woff2') format('woff2'),
       url('../fontes/intro/Intro-Regular.woff') format('woff'),
       url('../fontes/intro/Intro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fontes/ubuntu/Ubuntu-Bold.eot');
  src: url('../fontes/ubuntu/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fontes/ubuntu/Ubuntu-Bold.woff2') format('woff2'),
       url('../fontes/ubuntu/Ubuntu-Bold.woff') format('woff'),
       url('../fontes/ubuntu/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Reenie Beanie';
  src: url('ReenieBeanie.eot');
  src: url('../fontes/reenie/ReenieBeanie.eot?#iefix') format('embedded-opentype'),
       url('../fontes/reenie/ReenieBeanie.woff2') format('woff2'),
       url('../fontes/reenie/ReenieBeanie.woff') format('woff'),
       url('../fontes/reenie/ReenieBeanie.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'Nunito-ExtraBold';
    src: url('../fontes/nunito/Nunito-ExtraBold.eot');
    src: url('../fontes/nunito/Nunito-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fontes/nunito/Nunito-ExtraBold.woff2') format('woff2'),
        url('../fontes/nunito/Nunito-ExtraBold.woff') format('woff'),
        url('../fontes/nunito/Nunito-ExtraBold.ttf') format('truetype'),
        url('../fontes/nunito/Nunito-ExtraBold.svg#Nunito-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nunito-ExtraLight';
    src: url('../fontes/nunito/Nunito-ExtraLight.eot');
    src: url('../fontes/nunito/Nunito-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fontes/nunito/Nunito-ExtraLight.woff2') format('woff2'),
        url('../fontes/nunito/Nunito-ExtraLight.woff') format('woff'),
        url('../fontes/nunito/Nunito-ExtraLight.ttf') format('truetype'),
        url('../fontes/nunito/Nunito-ExtraLight.svg#Nunito-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nunito-SemiBold';
    src: url('../fontes/nunito/Nunito-SemiBold.eot');
    src: url('../fontes/nunito/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fontes/nunito/Nunito-SemiBold.woff2') format('woff2'),
        url('../fontes/nunito/Nunito-SemiBold.woff') format('woff'),
        url('../fontes/nunito/Nunito-SemiBold.ttf') format('truetype'),
        url('../fontes/nunito/Nunito-SemiBold.svg#Nunito-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nunito-Light';
    src: url('../fontes/nunito/Nunito-Light.eot');
    src: url('../fontes/nunito/Nunito-Light.eot?#iefix') format('embedded-opentype'),
        url('../fontes/nunito/Nunito-Light.woff2') format('woff2'),
        url('../fontes/nunito/Nunito-Light.woff') format('woff'),
        url('../fontes/nunito/Nunito-Light.ttf') format('truetype'),
        url('../fontes/nunito/Nunito-Light.svg#Nunito-Light') format('svg');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nunito-Black';
    src: url('../fontes/nunito/Nunito-Black.eot');
    src: url('../fontes/nunito/Nunito-Black.eot?#iefix') format('embedded-opentype'),
        url('../fontes/nunito/Nunito-Black.woff2') format('woff2'),
        url('../fontes/nunito/Nunito-Black.woff') format('woff'),
        url('../fontes/nunito/Nunito-Black.ttf') format('truetype'),
        url('../fontes/nunito/Nunito-Black.svg#Nunito-Black') format('svg');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Nunito-Bold';
    src: url('../fontes/nunito/Nunito-Bold.eot');
    src: url('../fontes/nunito/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fontes/nunito/Nunito-Bold.woff2') format('woff2'),
        url('../fontes/nunito/Nunito-Bold.woff') format('woff'),
        url('../fontes/nunito/Nunito-Bold.ttf') format('truetype'),
        url('../fontes/nunito/Nunito-Bold.svg#Nunito-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Nunito-Regular';
    src: url('../fontes/nunito/Nunito-Regular.eot');
    src: url('../fontes/nunito/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fontes/nunito/Nunito-Regular.woff2') format('woff2'),
        url('../fontes/nunito/Nunito-Regular.woff') format('woff'),
        url('../fontes/nunito/Nunito-Regular.ttf') format('truetype'),
        url('../fontes/nunito/Nunito-Regular.svg#Nunito-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fontes/Montserrat/MontserratAlternates-Bold.eot');
    src: url('../fontes/Montserrat/MontserratAlternates-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fontes/Montserrat/MontserratAlternates-Bold.woff2') format('woff2'),
        url('../fontes/Montserrat/MontserratAlternates-Bold.woff') format('woff'),
        url('../fontes/Montserrat/MontserratAlternates-Bold.ttf') format('truetype'),
        url('../fontes/Montserrat/MontserratAlternates-Bold.svg#MontserratAlternates-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fontes/Montserrat/Montserrat-SemiBold.eot');
    src: url('../fontes/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fontes/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fontes/Montserrat/Montserrat-SemiBold.woff') format('woff'),
        url('../fontes/Montserrat/Montserrat-SemiBold.ttf') format('truetype'),
        url('../fontes/Montserrat/Montserrat-SemiBold.svg#../fontes/Montserrat/Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fontes/Montserrat/Montserrat-Regular.eot');
    src: url('../fontes/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fontes/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../fontes/Montserrat/Montserrat-Regular.woff') format('woff'),
        url('../fontes/Montserrat/Montserrat-Regular.ttf') format('truetype'),
        url('../fontes/Montserrat/Montserrat-Regular.svg#../fontes/Montserrat/Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fontes/Montserrat/Montserrat-Medium.eot');
    src: url('../fontes/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fontes/Montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../fontes/Montserrat/Montserrat-Medium.woff') format('woff'),
        url('../fontes/Montserrat/Montserrat-Medium.ttf') format('truetype'),
        url('../fontes/Montserrat/Montserrat-Medium.svg#../fontes/Montserrat/Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
      font-family: 'fontello';
      src: url('../fontes/fontello/fontello.eot?7977416');
      src: url('../fontes/fontello/fontello.eot?7977416#iefix') format('embedded-opentype'),
           url('../fontes/fontello/fontello.woff?7977416') format('woff'),
           url('../fontes/fontello/fontello.ttf?7977416') format('truetype'),
           url('../fontes/fontello/fontello.svg?7977416#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
  @font-face {
    font-family: 'myriad_proregular';
    src: url('../fontes/myriad/MyriadPro-Regular.eot');
    src: url('../fontes/myriad/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fontes/myriad/MyriadPro-Regular.woff2') format('woff2'),
        url('../fontes/myriad/MyriadPro-Regular.woff') format('woff'),
        url('../fontes/myriad/MyriadPro-Regular.ttf') format('truetype'),
        url('../fontes/myriad/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'myriad_probold';
    src: url('../fontes/myriad/myriadpro-bold-webfont.eot');
    src: url('../fontes/myriad/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fontes/myriad/myriadpro-bold-webfont.woff') format('woff'),
        url('../fontes/myriad/myriadpro-bold-webfont.ttf') format('truetype'),
        url('../fontes/myriad/myriadpro-bold-webfont.svg#myriad_probold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'myriad_prolight';
    src: url('../fontes/myriad/myriadpro-light_1-webfont.eot');
    src: url('../fontes/myriad/myriadpro-light_1-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fontes/myriad/myriadpro-light_1-webfont.woff') format('woff'),
        url('../fontes/myriad/myriadpro-light_1-webfont.ttf') format('truetype'),
        url('../fontes/myriad/myriadpro-light_1-webfont.svg#myriad_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ralewaylight';
    src: url('../fontes/raleway/raleway-light-webfont.eot');
    src: url('../fontes/raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/raleway/raleway-light-webfont.woff2') format('woff2'),
         url('../fontes/raleway/raleway-light-webfont.woff') format('woff'),
         url('../fontes/raleway/raleway-light-webfont.ttf') format('truetype'),
         url('../fontes/raleway/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ralewaymedium';
    src: url('../fontes/raleway/raleway-medium-webfont.eot');
    src: url('../fontes/raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/raleway/raleway-medium-webfont.woff2') format('woff2'),
         url('../fontes/raleway/raleway-medium-webfont.woff') format('woff'),
         url('../fontes/raleway/raleway-medium-webfont.ttf') format('truetype'),
         url('../fontes/raleway/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'ralewayregular';
    src: url('../fontes/raleway/raleway-regular-webfont.eot');
    src: url('../fontes/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('../fontes/raleway/raleway-regular-webfont.woff') format('woff'),
         url('../fontes/raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('../fontes/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ralewaysemibold';
    src: url('../fontes/raleway/raleway-semibold-webfont.eot');
    src: url('../fontes/raleway/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/raleway/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fontes/raleway/raleway-semibold-webfont.woff') format('woff'),
         url('../fontes/raleway/raleway-semibold-webfont.ttf') format('truetype'),
         url('../fontes/raleway/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ralewaythin';
    src: url('../fontes/raleway/raleway-thin-webfont.eot');
    src: url('../fontes/raleway/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/raleway/raleway-thin-webfont.woff2') format('woff2'),
         url('../fontes/raleway/raleway-thin-webfont.woff') format('woff'),
         url('../fontes/raleway/raleway-thin-webfont.ttf') format('truetype'),
         url('../fontes/raleway/raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ralewaybold';
    src: url('../fontes/raleway/raleway-bold-webfont.eot');
    src: url('../fontes/raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/raleway/raleway-bold-webfont.woff2') format('woff2'),
         url('../fontes/raleway/raleway-bold-webfont.woff') format('woff'),
         url('../fontes/raleway/raleway-bold-webfont.ttf') format('truetype'),
         url('../fontes/raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ralewayextrabold';
    src: url('../fontes/raleway/raleway-extrabold-webfont.eot');
    src: url('../fontes/raleway/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/raleway/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../fontes/raleway/raleway-extrabold-webfont.woff') format('woff'),
         url('../fontes/raleway/raleway-extrabold-webfont.ttf') format('truetype'),
         url('../fontes/raleway/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ralewayextralight';
    src: url('../fontes/raleway/raleway-extralight-webfont.eot');
    src: url('../fontes/raleway/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/raleway/raleway-extralight-webfont.woff2') format('woff2'),
         url('../fontes/raleway/raleway-extralight-webfont.woff') format('woff'),
         url('../fontes/raleway/raleway-extralight-webfont.ttf') format('truetype'),
         url('../fontes/raleway/raleway-extralight-webfont.svg#ralewayextralight') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ralewayheavy';
    src: url('../fontes/raleway/raleway-heavy-webfont.eot');
    src: url('../fontes/raleway/raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/raleway/raleway-heavy-webfont.woff2') format('woff2'),
         url('../fontes/raleway/raleway-heavy-webfont.woff') format('woff'),
         url('../fontes/raleway/raleway-heavy-webfont.ttf') format('truetype'),
         url('../fontes/raleway/raleway-heavy-webfont.svg#ralewayheavy') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'penumbra';
    src: url('../fontes/penumbra/PenumbraSansStd-Regular.eot');
    src: url('../fontes/penumbra/PenumbraSansStd-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fontes/penumbra/PenumbraSansStd-Regular.woff2') format('woff2'),
        url('../fontes/penumbra/PenumbraSansStd-Regular.woff') format('woff'),
        url('../fontes/penumbra/PenumbraSansStd-Regular.ttf') format('truetype'),
        url('../fontes/penumbra/PenumbraSansStd-Regular.svg#PenumbraSansStd-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Alleyn-light';
    src: url('../fontes/alleyn/AlleynW01-Light.eot');
    src: url('../fontes/alleyn/AlleynW01-Light.eot?#iefix') format('embedded-opentype'),
        url('../fontes/alleyn/AlleynW01-Light.woff2') format('woff2'),
        url('../fontes/alleyn/AlleynW01-Light.woff') format('woff'),
        url('../fontes/alleyn/AlleynW01-Light.ttf') format('truetype'),
        url('../fontes/alleyn/AlleynW01-Light.svg#AlleynW01-Light') format('svg');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Alleyn-regular';
    src: url('../fontes/alleyn/AlleynW01-Regular.eot');
    src: url('../fontes/alleyn/AlleynW01-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fontes/alleyn/AlleynW01-Regular.woff2') format('woff2'),
        url('../fontes/alleyn/AlleynW01-Regular.woff') format('woff'),
        url('../fontes/alleyn/AlleynW01-Regular.ttf') format('truetype'),
        url('../fontes/alleyn/AlleynW01-Regular.svg#AlleynW01-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Alleyn-bold';
    src: url('../fontes/alleyn/AlleynW01-Bold.eot');
    src: url('../fontes/alleyn/AlleynW01-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fontes/alleyn/AlleynW01-Bold.woff2') format('woff2'),
        url('../fontes/alleyn/AlleynW01-Bold.woff') format('woff'),
        url('../fontes/alleyn/AlleynW01-Bold.ttf') format('truetype'),
        url('../fontes/alleyn/AlleynW01-Bold.svg#AlleynW01-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'ampleSoft';
    src: url('../fontes/ampleSoft/AmpleSoft.eot');
    src: url('../fontes/ampleSoft/AmpleSoft.eot?#iefix') format('embedded-opentype'),
    url('../fontes/ampleSoft/AmpleSoft.woff2') format('woff2'),
    url('../fontes/ampleSoft/AmpleSoft.woff') format('woff'),
    url('../fontes/ampleSoft/AmpleSoft.ttf') format('truetype'),
    url('../fontes/ampleSoft/AmpleSoft.svg#AmpleSoft') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'ampleSoftLight';
    src: url('../fontes/ampleSoft/AmpleSoft-Light.eot');
    src: url('../fontes/ampleSoft/AmpleSoft-Light.eot?#iefix') format('embedded-opentype'),
    url('../fontes/ampleSoft/AmpleSoft-Light.woff2') format('woff2'),
    url('../fontes/ampleSoft/AmpleSoft-Light.woff') format('woff'),
    url('../fontes/ampleSoft/AmpleSoft-Light.ttf') format('truetype'),
    url('../fontes/ampleSoft/AmpleSoft-Light.svg#AmpleSoft-Light') format('svg');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'ampleSoftMedium';
    src: url('../fontes/ampleSoft/AmpleSoft-Medium.eot');
    src: url('../fontes/ampleSoft/AmpleSoft-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fontes/ampleSoft/AmpleSoft-Medium.woff2') format('woff2'),
    url('../fontes/ampleSoft/AmpleSoft-Medium.woff') format('woff'),
    url('../fontes/ampleSoft/AmpleSoft-Medium.ttf') format('truetype'),
    url('../fontes/ampleSoft/AmpleSoft-Medium.svg#AmpleSoft-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'ampleSoftBold';
    src: url('../fontes/ampleSoft/AmpleSoft-Bold.eot');
    src: url('../fontes/ampleSoft/AmpleSoft-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fontes/ampleSoft/AmpleSoft-Bold.woff2') format('woff2'),
    url('../fontes/ampleSoft/AmpleSoft-Bold.woff') format('woff'),
    url('../fontes/ampleSoft/AmpleSoft-Bold.ttf') format('truetype'),
    url('../fontes/ampleSoft/AmpleSoft-Bold.svg#AmpleSoft-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'ampleSoftThin';
    src: url('../fontes/ampleSoft/AmpleSoft-Thin.eot');
    src: url('../fontes/ampleSoft/AmpleSoft-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fontes/ampleSoft/AmpleSoft-Thin.woff2') format('woff2'),
    url('../fontes/ampleSoft/AmpleSoft-Thin.woff') format('woff'),
    url('../fontes/ampleSoft/AmpleSoft-Thin.ttf') format('truetype'),
    url('../fontes/ampleSoft/AmpleSoft-Thin.svg#AmpleSoft-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'ampleSoftExtraLight';
    src: url('../fontes/ampleSoft/AmpleSoft-ExtraLight.eot');
    src: url('../fontes/ampleSoft/AmpleSoft-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fontes/ampleSoft/AmpleSoft-ExtraLight.woff2') format('woff2'),
    url('../fontes/ampleSoft/AmpleSoft-ExtraLight.woff') format('woff'),
    url('../fontes/ampleSoft/AmpleSoft-ExtraLight.ttf') format('truetype'),
    url('../fontes/ampleSoft/AmpleSoft-ExtraLight.svg#AmpleSoft-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'mosk-extra-light';
    src: url('../fontes/mosk/MoskExtra-Light200.eot');
    src: url('../fontes/mosk/MoskExtra-Light200.eot?#iefix') format('embedded-opentype'),
        url('../fontes/mosk/MoskExtra-Light200.woff2') format('woff2'),
        url('../fontes/mosk/MoskExtra-Light200.woff') format('woff'),
        url('../fontes/mosk/MoskExtra-Light200.ttf') format('truetype'),
        url('../fontes/mosk/MoskExtra-Light200.svg#MoskExtra-Light200') format('svg');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'mosk-thin';
    src: url('../fontes/mosk/MoskThin100.eot');
    src: url('../fontes/mosk/MoskThin100.eot?#iefix') format('embedded-opentype'),
        url('../fontes/mosk/MoskThin100.woff2') format('woff2'),
        url('../fontes/mosk/MoskThin100.woff') format('woff'),
        url('../fontes/mosk/MoskThin100.ttf') format('truetype'),
        url('../fontes/mosk/MoskThin100.svg#MoskThin100') format('svg');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'mosk-medium';
    src: url('../fontes/mosk/MoskMedium500.eot');
    src: url('../fontes/mosk/MoskMedium500.eot?#iefix') format('embedded-opentype'),
        url('../fontes/mosk/MoskMedium500.woff2') format('woff2'),
        url('../fontes/mosk/MoskMedium500.woff') format('woff'),
        url('../fontes/mosk/MoskMedium500.ttf') format('truetype'),
        url('../fontes/mosk/MoskMedium500.svg#MoskMedium500') format('svg');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'mosk-light';
    src: url('../fontes/mosk/MoskLight300.eot');
    src: url('../fontes/mosk/MoskLight300.eot?#iefix') format('embedded-opentype'),
        url('../fontes/mosk/MoskLight300.woff2') format('woff2'),
        url('../fontes/mosk/MoskLight300.woff') format('woff'),
        url('../fontes/mosk/MoskLight300.ttf') format('truetype'),
        url('../fontes/mosk/MoskLight300.svg#MoskLight300') format('svg');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'mosk-semi-bld';
    src: url('../fontes/mosk/MoskSemi-Bold600.eot');
    src: url('../fontes/mosk/MoskSemi-Bold600.eot?#iefix') format('embedded-opentype'),
        url('../fontes/mosk/MoskSemi-Bold600.woff2') format('woff2'),
        url('../fontes/mosk/MoskSemi-Bold600.woff') format('woff'),
        url('../fontes/mosk/MoskSemi-Bold600.ttf') format('truetype'),
        url('../fontes/mosk/MoskSemi-Bold600.svg#MoskSemi-Bold600') format('svg');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'mosk-ultra-bold';
    src: url('../fontes/mosk/MoskUltra-Bold900.eot');
    src: url('../fontes/mosk/MoskUltra-Bold900.eot?#iefix') format('embedded-opentype'),
        url('../fontes/mosk/MoskUltra-Bold900.woff2') format('woff2'),
        url('../fontes/mosk/MoskUltra-Bold900.woff') format('woff'),
        url('../fontes/mosk/MoskUltra-Bold900.ttf') format('truetype'),
        url('../fontes/mosk/MoskUltra-Bold900.svg#MoskUltra-Bold900') format('svg');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'mosk';
    src: url('../fontes/mosk/MoskNormal400.eot');
    src: url('../fontes/mosk/MoskNormal400.eot?#iefix') format('embedded-opentype'),
        url('../fontes/mosk/MoskNormal400.woff2') format('woff2'),
        url('../fontes/mosk/MoskNormal400.woff') format('woff'),
        url('../fontes/mosk/MoskNormal400.ttf') format('truetype'),
        url('../fontes/mosk/MoskNormal400.svg#MoskNormal400') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'mosk-bold';
    src: url('../fontes/mosk/MoskBold700.eot');
    src: url('../fontes/mosk/MoskBold700.eot?#iefix') format('embedded-opentype'),
        url('../fontes/mosk/MoskBold700.woff2') format('woff2'),
        url('../fontes/mosk/MoskBold700.woff') format('woff'),
        url('../fontes/mosk/MoskBold700.ttf') format('truetype'),
        url('../fontes/mosk/MoskBold700.svg#MoskBold700') format('svg');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'mosk-extra-bold';
    src: url('../fontes/mosk/MoskExtra-Bold800.eot');
    src: url('../fontes/mosk/MoskExtra-Bold800.eot?#iefix') format('embedded-opentype'),
        url('../fontes/mosk/MoskExtra-Bold800.woff2') format('woff2'),
        url('../fontes/mosk/MoskExtra-Bold800.woff') format('woff'),
        url('../fontes/mosk/MoskExtra-Bold800.ttf') format('truetype'),
        url('../fontes/mosk/MoskExtra-Bold800.svg#MoskExtra-Bold800') format('svg');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'open-sans-extra-bold-italic';
    src: url('../fontes/open-sans/OpenSans-ExtraboldItalic.eot');
    src: url('../fontes/open-sans/OpenSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fontes/open-sans/OpenSans-ExtraboldItalic.woff2') format('woff2'),
        url('../fontes/open-sans/OpenSans-ExtraboldItalic.woff') format('woff'),
        url('../fontes/open-sans/OpenSans-ExtraboldItalic.ttf') format('truetype'),
        url('../fontes/open-sans/OpenSans-ExtraboldItalic.svg#OpenSans-ExtraboldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
  }

  @font-face {
    font-family: 'open-sans-semi-bold-italic';
    src: url('../fontes/open-sans/OpenSans-SemiboldItalic.eot');
    src: url('../fontes/open-sans/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fontes/open-sans/OpenSans-SemiboldItalic.woff2') format('woff2'),
        url('../fontes/open-sans/OpenSans-SemiboldItalic.woff') format('woff'),
        url('../fontes/open-sans/OpenSans-SemiboldItalic.ttf') format('truetype'),
        url('../fontes/open-sans/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: 'open-sans-light';
    src: url('../fontes/open-sans/OpenSans-Light.eot');
    src: url('../fontes/open-sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fontes/open-sans/OpenSans-Light.woff2') format('woff2'),
        url('../fontes/open-sans/OpenSans-Light.woff') format('woff'),
        url('../fontes/open-sans/OpenSans-Light.ttf') format('truetype'),
        url('../fontes/open-sans/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'open-sans-bold';
    src: url('../fontes/open-sans/OpenSans-Bold.eot');
    src: url('../fontes/open-sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fontes/open-sans/OpenSans-Bold.woff2') format('woff2'),
        url('../fontes/open-sans/OpenSans-Bold.woff') format('woff'),
        url('../fontes/open-sans/OpenSans-Bold.ttf') format('truetype'),
        url('../fontes/open-sans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'open-sans-extra-bold';
    src: url('../fontes/open-sans/OpenSans-Extrabold.eot');
    src: url('../fontes/open-sans/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fontes/open-sans/OpenSans-Extrabold.woff2') format('woff2'),
        url('../fontes/open-sans/OpenSans-Extrabold.woff') format('woff'),
        url('../fontes/open-sans/OpenSans-Extrabold.ttf') format('truetype'),
        url('../fontes/open-sans/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'open-sans-italic';
    src: url('../fontes/open-sans/OpenSans-Italic.eot');
    src: url('../fontes/open-sans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fontes/open-sans/OpenSans-Italic.woff2') format('woff2'),
        url('../fontes/open-sans/OpenSans-Italic.woff') format('woff'),
        url('../fontes/open-sans/OpenSans-Italic.ttf') format('truetype'),
        url('../fontes/open-sans/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'open-sans-light-italic';
    src: url('../fontes/open-sans/OpenSansLight-Italic.eot');
    src: url('../fontes/open-sans/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fontes/open-sans/OpenSansLight-Italic.woff2') format('woff2'),
        url('../fontes/open-sans/OpenSansLight-Italic.woff') format('woff'),
        url('../fontes/open-sans/OpenSansLight-Italic.ttf') format('truetype'),
        url('../fontes/open-sans/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'open-sans';
    src: url('../fontes/open-sans/OpenSans.eot');
    src: url('../fontes/open-sans/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('../fontes/open-sans/OpenSans.woff2') format('woff2'),
        url('../fontes/open-sans/OpenSans.woff') format('woff'),
        url('../fontes/open-sans/OpenSans.ttf') format('truetype'),
        url('../fontes/open-sans/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'open-sans-bold-italic';
    src: url('../fontes/open-sans/OpenSans-BoldItalic.eot');
    src: url('../fontes/open-sans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fontes/open-sans/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../fontes/open-sans/OpenSans-BoldItalic.woff') format('woff'),
        url('../fontes/open-sans/OpenSans-BoldItalic.ttf') format('truetype'),
        url('../fontes/open-sans/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: 'open-sans-semi-bold';
    src: url('../fontes/open-sans/OpenSans-Semibold.eot');
    src: url('../fontes/open-sans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fontes/open-sans/OpenSans-Semibold.woff2') format('woff2'),
        url('../fontes/open-sans/OpenSans-Semibold.woff') format('woff'),
        url('../fontes/open-sans/OpenSans-Semibold.ttf') format('truetype'),
        url('../fontes/open-sans/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'helvetica-bold';
    src: url('../fontes/helvetica/Helvetica-Bold.eot');
    src: url('../fontes/helvetica/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fontes/helvetica/Helvetica-Bold.woff2') format('woff2'),
        url('../fontes/helvetica/Helvetica-Bold.woff') format('woff'),
        url('../fontes/helvetica/Helvetica-Bold.ttf') format('truetype'),
        url('../fontes/helvetica/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'helvetica-regular';
    src: url('../fontes/helvetica/Helvetica-Normal.eot');
    src: url('../fontes/helvetica/Helvetica-Normal.eot?#iefix') format('embedded-opentype'),
        url('../fontes/helvetica/Helvetica-Normal.woff2') format('woff2'),
        url('../fontes/helvetica/Helvetica-Normal.woff') format('woff'),
        url('../fontes/helvetica/Helvetica-Normal.ttf') format('truetype'),
        url('../fontes/helvetica/Helvetica-Normal.svg#Helvetica-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'helvetica-light';
    src: url('../fontes/helvetica/Helvetica-Light.eot');
    src: url('../fontes/helvetica/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
        url('../fontes/helvetica/Helvetica-Light.woff2') format('woff2'),
        url('../fontes/helvetica/Helvetica-Light.woff') format('woff'),
        url('../fontes/helvetica/Helvetica-Light.ttf') format('truetype'),
        url('../fontes/helvetica/Helvetica-Light.svg#Helvetica-Light') format('svg');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'helvetica-black';
    src: url('../fontes/helvetica/Helvetica-Black.eot');
    src: url('../fontes/helvetica/Helvetica-Black.eot?#iefix') format('embedded-opentype'),
        url('../fontes/helvetica/Helvetica-Black.woff2') format('woff2'),
        url('../fontes/helvetica/Helvetica-Black.woff') format('woff'),
        url('../fontes/helvetica/Helvetica-Black.ttf') format('truetype'),
        url('../fontes/helvetica/Helvetica-Black.svg#Helvetica-Black') format('svg');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'helvetica-narrow';
    src: url('../fontes/helvetica/Helvetica-Narrow.eot');
    src: url('../fontes/helvetica/Helvetica-Narrow.eot?#iefix') format('embedded-opentype'),
        url('../fontes/helvetica/Helvetica-Narrow.woff2') format('woff2'),
        url('../fontes/helvetica/Helvetica-Narrow.woff') format('woff'),
        url('../fontes/helvetica/Helvetica-Narrow.ttf') format('truetype'),
        url('../fontes/helvetica/Helvetica-Narrow.svg#Helvetica-Narrow') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'culoniteSemiBold';
    src: url('../fontes/culonite/Culonite-SemiBold.eot');
    src: url('../fontes/culonite/Culonite-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fontes/culonite/Culonite-SemiBold.woff2') format('woff2'),
        url('../fontes/culonite/Culonite-SemiBold.woff') format('woff'),
        url('../fontes/culonite/Culonite-SemiBold.ttf') format('truetype'),
        url('../fontes/culonite/Culonite-SemiBold.svg#Culonite-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'culoniteLight';
    src: url('../fontes/culonite/Culonite-Light.eot');
    src: url('../fontes/culonite/Culonite-Light.eot?#iefix') format('embedded-opentype'),
        url('../fontes/culonite/Culonite-Light.woff2') format('woff2'),
        url('../fontes/culonite/Culonite-Light.woff') format('woff'),
        url('../fontes/culonite/Culonite-Light.ttf') format('truetype'),
        url('../fontes/culonite/Culonite-Light.svg#Culonite-Light') format('svg');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'culoniteBold';
    src: url('../fontes/culonite/Culonite-Bold.eot');
    src: url('../fontes/culonite/Culonite-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fontes/culonite/Culonite-Bold.woff2') format('woff2'),
        url('../fontes/culonite/Culonite-Bold.woff') format('woff'),
        url('../fontes/culonite/Culonite-Bold.ttf') format('truetype'),
        url('../fontes/culonite/Culonite-Bold.svg#Culonite-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'culoniteRegular';
    src: url('../fontes/culonite/Culonite-Regular.eot');
    src: url('../fontes/culonite/Culonite-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fontes/culonite/Culonite-Regular.woff2') format('woff2'),
        url('../fontes/culonite/Culonite-Regular.woff') format('woff'),
        url('../fontes/culonite/Culonite-Regular.ttf') format('truetype'),
        url('../fontes/culonite/Culonite-Regular.svg#Culonite-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'helveticaNeueUltraLight';
    src: url('../fontes/helveticanue/HelveticaNeue-UltraLight.eot');
    src: url('../fontes/helveticanue/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fontes/helveticanue/HelveticaNeue-UltraLight.woff2') format('woff2'),
        url('../fontes/helveticanue/HelveticaNeue-UltraLight.woff') format('woff'),
        url('../fontes/helveticanue/HelveticaNeue-UltraLight.ttf') format('truetype'),
        url('../fontes/helveticanue/HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'helveticaNeueMedium';
    src: url('../fontes/helveticanue/HelveticaNeue-Medium.eot');
    src: url('../fontes/helveticanue/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fontes/helveticanue/HelveticaNeue-Medium.woff2') format('woff2'),
        url('../fontes/helveticanue/HelveticaNeue-Medium.woff') format('woff'),
        url('../fontes/helveticanue/HelveticaNeue-Medium.ttf') format('truetype'),
        url('../fontes/helveticanue/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'helveticaNeueBold';
    src: url('../fontes/helveticanue/HelveticaNeue-BoldExt.eot');
    src: url('../fontes/helveticanue/HelveticaNeue-BoldExt.eot?#iefix') format('embedded-opentype'),
        url('../fontes/helveticanue/HelveticaNeue-BoldExt.woff2') format('woff2'),
        url('../fontes/helveticanue/HelveticaNeue-BoldExt.woff') format('woff'),
        url('../fontes/helveticanue/HelveticaNeue-BoldExt.ttf') format('truetype'),
        url('../fontes/helveticanue/HelveticaNeue-BoldExt.svg#HelveticaNeue-BoldExt') format('svg');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'helveticaNeueLight';
    src: url('../fontes/helveticanue/HelveticaNeue-LightExt.eot');
    src: url('../fontes/helveticanue/HelveticaNeue-LightExt.eot?#iefix') format('embedded-opentype'),
        url('../fontes/helveticanue/HelveticaNeue-LightExt.woff2') format('woff2'),
        url('../fontes/helveticanue/HelveticaNeue-LightExt.woff') format('woff'),
        url('../fontes/helveticanue/HelveticaNeue-LightExt.ttf') format('truetype'),
        url('../fontes/helveticanue/HelveticaNeue-LightExt.svg#HelveticaNeue-LightExt') format('svg');
    font-weight: 300;
    font-style: normal;
  }



  @font-face {
    font-family: 'robotomedium';
    src: url('../fontes/roboto/roboto-medium-webfont.eot');
    src: url('../fontes/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../fontes/roboto/roboto-medium-webfont.woff') format('woff'),
         url('../fontes/roboto/roboto-medium-webfont.ttf') format('truetype'),
         url('../fontes/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'robotomedium_italic';
    src: url('../fontes/roboto/roboto-mediumitalic-webfont.eot');
    src: url('../fontes/roboto/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../fontes/roboto/roboto-mediumitalic-webfont.woff') format('woff'),
         url('../fontes/roboto/roboto-mediumitalic-webfont.ttf') format('truetype'),
         url('../fontes/roboto/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'robotoregular';
    src: url('../fontes/roboto/roboto-regular-webfont.eot');
    src: url('../fontes/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fontes/roboto/roboto-regular-webfont.woff') format('woff'),
         url('../fontes/roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('../fontes/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'robotothin';
    src: url('../fontes/roboto/roboto-thin-webfont.eot');
    src: url('../fontes/roboto/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/roboto/roboto-thin-webfont.woff2') format('woff2'),
         url('../fontes/roboto/roboto-thin-webfont.woff') format('woff'),
         url('../fontes/roboto/roboto-thin-webfont.ttf') format('truetype'),
         url('../fontes/roboto/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'robotothin_italic';
    src: url('../fontes/roboto/roboto-thinitalic-webfont.eot');
    src: url('../fontes/roboto/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/roboto/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('../fontes/roboto/roboto-thinitalic-webfont.woff') format('woff'),
         url('../fontes/roboto/roboto-thinitalic-webfont.ttf') format('truetype'),
         url('../fontes/roboto/roboto-thinitalic-webfont.svg#robotothin_italic') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'robotoblack';
    src: url('../fontes/roboto/roboto-black-webfont.eot');
    src: url('../fontes/roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/roboto/roboto-black-webfont.woff2') format('woff2'),
         url('../fontes/roboto/roboto-black-webfont.woff') format('woff'),
         url('../fontes/roboto/roboto-black-webfont.ttf') format('truetype'),
         url('../fontes/roboto/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'robotoblack_italic';
    src: url('../fontes/roboto/roboto-blackitalic-webfont.eot');
    src: url('../fontes/roboto/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/roboto/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('../fontes/roboto/roboto-blackitalic-webfont.woff') format('woff'),
         url('../fontes/roboto/roboto-blackitalic-webfont.ttf') format('truetype'),
         url('../fontes/roboto/roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'robotobold';
    src: url('../fontes/roboto/roboto-bold-webfont.eot');
    src: url('../fontes/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../fontes/roboto/roboto-bold-webfont.woff') format('woff'),
         url('../fontes/roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('../fontes/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'robotobold_italic';
    src: url('../fontes/roboto/roboto-bolditalic-webfont.eot');
    src: url('../fontes/roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/roboto/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fontes/roboto/roboto-bolditalic-webfont.woff') format('woff'),
         url('../fontes/roboto/roboto-bolditalic-webfont.ttf') format('truetype'),
         url('../fontes/roboto/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'robotoitalic';
    src: url('../fontes/roboto/roboto-italic-webfont.eot');
    src: url('../fontes/roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/roboto/roboto-italic-webfont.woff2') format('woff2'),
         url('../fontes/roboto/roboto-italic-webfont.woff') format('woff'),
         url('../fontes/roboto/roboto-italic-webfont.ttf') format('truetype'),
         url('../fontes/roboto/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'robotolight';
    src: url('../fontes/roboto/roboto-light-webfont.eot');
    src: url('../fontes/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../fontes/roboto/roboto-light-webfont.woff') format('woff'),
         url('../fontes/roboto/roboto-light-webfont.ttf') format('truetype'),
         url('../fontes/roboto/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'robotolight_italic';
    src: url('../fontes/roboto/roboto-lightitalic-webfont.eot');
    src: url('../fontes/roboto/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fontes/roboto/roboto-lightitalic-webfont.woff') format('woff'),
         url('../fontes/roboto/roboto-lightitalic-webfont.ttf') format('truetype'),
         url('../fontes/roboto/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'tofinoBlack';
    src: url('../fontes/tofino/TofinoPersonal-Black.eot');
    src: url('../fontes/tofino/TofinoPersonal-Black.eot?#iefix') format('embedded-opentype'),
        url('../fontes/tofino/TofinoPersonal-Black.woff2') format('woff2'),
        url('../fontes/tofino/TofinoPersonal-Black.woff') format('woff'),
        url('../fontes/tofino/TofinoPersonal-Black.ttf') format('truetype'),
        url('../fontes/tofino/TofinoPersonal-Black.svg#TofinoPersonal-Black') format('svg');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'tofinoLight';
    src: url('../fontes/tofino/TofinoPersonal-LightItalic.eot');
    src: url('../fontes/tofino/TofinoPersonal-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fontes/tofino/TofinoPersonal-LightItalic.woff2') format('woff2'),
        url('../fontes/tofino/TofinoPersonal-LightItalic.woff') format('woff'),
        url('../fontes/tofino/TofinoPersonal-LightItalic.ttf') format('truetype'),
        url('../fontes/tofino/TofinoPersonal-LightItalic.svg#TofinoPersonal-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'tofinoUltra';
    src: url('../fontes/tofino/TofinoPersonal-Ultra.eot');
    src: url('../fontes/tofino/TofinoPersonal-Ultra.eot?#iefix') format('embedded-opentype'),
        url('../fontes/tofino/TofinoPersonal-Ultra.woff2') format('woff2'),
        url('../fontes/tofino/TofinoPersonal-Ultra.woff') format('woff'),
        url('../fontes/tofino/TofinoPersonal-Ultra.ttf') format('truetype'),
        url('../fontes/tofino/TofinoPersonal-Ultra.svg#TofinoPersonal-Ultra') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'tofinoLight';
    src: url('../fontes/tofino/TofinoPersonal-Light.eot');
    src: url('../fontes/tofino/TofinoPersonal-Light.eot?#iefix') format('embedded-opentype'),
        url('../fontes/tofino/TofinoPersonal-Light.woff2') format('woff2'),
        url('../fontes/tofino/TofinoPersonal-Light.woff') format('woff'),
        url('../fontes/tofino/TofinoPersonal-Light.ttf') format('truetype'),
        url('../fontes/tofino/TofinoPersonal-Light.svg#TofinoPersonal-Light') format('svg');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'tofinoMedium';
    src: url('../fontes/tofino/TofinoPersonal-Medium.eot');
    src: url('../fontes/tofino/TofinoPersonal-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fontes/tofino/TofinoPersonal-Medium.woff2') format('woff2'),
        url('../fontes/tofino/TofinoPersonal-Medium.woff') format('woff'),
        url('../fontes/tofino/TofinoPersonal-Medium.ttf') format('truetype'),
        url('../fontes/tofino/TofinoPersonal-Medium.svg#TofinoPersonal-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'tofinoRegular';
    src: url('../fontes/tofino/TofinoPersonal-Regular.eot');
    src: url('../fontes/tofino/TofinoPersonal-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fontes/tofino/TofinoPersonal-Regular.woff2') format('woff2'),
        url('../fontes/tofino/TofinoPersonal-Regular.woff') format('woff'),
        url('../fontes/tofino/TofinoPersonal-Regular.ttf') format('truetype'),
        url('../fontes/tofino/TofinoPersonal-Regular.svg#TofinoPersonal-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'tofinoBook';
    src: url('../fontes/tofino/TofinoPersonal-Book.eot');
    src: url('../fontes/tofino/TofinoPersonal-Book.eot?#iefix') format('embedded-opentype'),
        url('../fontes/tofino/TofinoPersonal-Book.woff2') format('woff2'),
        url('../fontes/tofino/TofinoPersonal-Book.woff') format('woff'),
        url('../fontes/tofino/TofinoPersonal-Book.ttf') format('truetype'),
        url('../fontes/tofino/TofinoPersonal-Book.svg#TofinoPersonal-Book') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'tofinoBold';
    src: url('../fontes/tofino/TofinoPersonal-Bold.eot');
    src: url('../fontes/tofino/TofinoPersonal-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fontes/tofino/TofinoPersonal-Bold.woff2') format('woff2'),
        url('../fontes/tofino/TofinoPersonal-Bold.woff') format('woff'),
        url('../fontes/tofino/TofinoPersonal-Bold.ttf') format('truetype'),
        url('../fontes/tofino/TofinoPersonal-Bold.svg#TofinoPersonal-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'tofinoThin';
    src: url('../fontes/tofino/TofinoPersonal-Thin.eot');
    src: url('../fontes/tofino/TofinoPersonal-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fontes/tofino/TofinoPersonal-Thin.woff2') format('woff2'),
        url('../fontes/tofino/TofinoPersonal-Thin.woff') format('woff'),
        url('../fontes/tofino/TofinoPersonal-Thin.ttf') format('truetype'),
        url('../fontes/tofino/TofinoPersonal-Thin.svg#TofinoPersonal-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
  }
